extends layout


block content
  .container
     h1=msg2
     p
       | Lorem ipsum dolor sit amet, a ut mauris accumsan et, fermentum venenatis, maiores a nec nullam tincidunt, arcu quisque nonummy sed ipsum sed, velit luctus mattis fringilla
