extends layout

block content
 .jumbotron
  .container
   .row
     .col-md-7
        h2 Computer not working
        p
          | is your computer running slow ? Or maybe not at all ?
        p
          a.btn.btn-primary.btn-lg(href='/images/chosen') Read more
     .col-md-5
        img(src='/images/download.jpeg')

 .row
  .col-md-4
   .well
      h4 Hardware Problems
      p
        | Lorem ipsum dolor sit amet, a ut mauris accumsan et, fermentum venenatis, maiores a nec nullam tincidunt, arcu quisque nonummy sed ipsum sed, velit luctus mattis fringilla interdum vivamus lacus. Elementum nullam nam, vitae sapien accumsan arcu. Vitae sodales augue non sapien. Vestibulum id amet vel, eleifend nulla. Pellentesque ratione mauris,
  .col-md-4
   .well
      h4 Software Problems
      p
        | euismod ligula parturient phasellus praesent pretium sunt, montes cras excepteur congue consectetuer ipsum arcu, pede nec pede, blandit at dui erat eget. Cras posuere vestibulum cras sed orci scelerisque, eu tempor euismod, nostra felis hac in a, dis ac. Eget quisque tellus, lacus consequat, condimentum augue gravida vulputate cras.
  .col-md-4
   .well
      h4 Pc Tune Up
      p
        | Varius vitae tristique amet sollicitudin tristique ipsum. Possimus eget vivamus elit wisi, odio adipiscing ullamcorper vehicula dolorum, nec est, eget tincidunt netus ac ac occaecat rhoncus. In nonummy nisl, dolor est justo, blandit orci vivamus, senectus aenean wisi, scelerisque ut sit turpis scelerisque dignissim odio. In mollis sapien sociis vitae tortor et, vel dictum neque magna,
